<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a712.emos_androidapp"
    android:versionCode="2"
    android:versionName="1.1.6">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".EomsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MipcaActivityCapture"
            android:label="@string/scan_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/search_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".TaskListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeviceAddActivities.DeviceDetailActivity"
            android:label="@string/device_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeviceAddActivities.NewFaultTaskActivity"
            android:label="@string/new_fault_task"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeviceAddActivities.NewOtherTaskActivity"
            android:label="@string/new_other_task"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.QueryDataIntentService"
            android:exported="false" />

        <activity
            android:name=".DeviceAddActivities.ProcessFaultActivity"
            android:label="@string/title_activity_process_fault"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeviceAddActivities.ProcessTaskActivity"
            android:label="@string/title_activity_process_task"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".download.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".FinishTaskListActivity"
            android:label="@string/title_activity_finish_task_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyEomsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>